<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zh.module.dao.UserMapper">
  <resultMap id="BaseResultMap" type="com.zh.module.entity.User">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="userpassword" jdbcType="VARCHAR" property="userpassword" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="uuid" jdbcType="INTEGER" property="uuid" />
    <result column="referenceid" jdbcType="INTEGER" property="referenceid" />
    <result column="reference_status" jdbcType="INTEGER" property="referenceStatus" />
    <result column="idcard" jdbcType="VARCHAR" property="idcard" />
    <result column="idstatus" jdbcType="INTEGER" property="idstatus" />
    <result column="headpath" jdbcType="VARCHAR" property="headpath" />
    <result column="secretkey" jdbcType="VARCHAR" property="secretkey" />
    <result column="token" jdbcType="VARCHAR" property="token" />
    <result column="tokencreatetime" jdbcType="TIMESTAMP" property="tokencreatetime" />
    <result column="orderpwd" jdbcType="VARCHAR" property="orderpwd" />
    <result column="logintime" jdbcType="TIMESTAMP" property="logintime" />
    <result column="devicenum" jdbcType="VARCHAR" property="devicenum" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="role" jdbcType="INTEGER" property="role" />
    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="updatetime" jdbcType="TIMESTAMP" property="updatetime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, phone, userpassword, username, uuid, referenceid, reference_status, idcard, idstatus, 
    headpath, secretkey, token, tokencreatetime, orderpwd, logintime, devicenum, state, 
    role, nickname, createtime, updatetime
  </sql>
  <insert id="insert" parameterType="com.zh.module.entity.User">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into user (phone, userpassword, username, 
      uuid, referenceid, reference_status, 
      idcard, idstatus, headpath, 
      secretkey, token, tokencreatetime, 
      orderpwd, logintime, devicenum, 
      state, role, nickname, 
      createtime, updatetime)
    values (#{phone,jdbcType=VARCHAR}, #{userpassword,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, 
      #{uuid,jdbcType=INTEGER}, #{referenceid,jdbcType=INTEGER}, #{referenceStatus,jdbcType=INTEGER}, 
      #{idcard,jdbcType=VARCHAR}, #{idstatus,jdbcType=INTEGER}, #{headpath,jdbcType=VARCHAR}, 
      #{secretkey,jdbcType=VARCHAR}, #{token,jdbcType=VARCHAR}, #{tokencreatetime,jdbcType=TIMESTAMP}, 
      #{orderpwd,jdbcType=VARCHAR}, #{logintime,jdbcType=TIMESTAMP}, #{devicenum,jdbcType=VARCHAR}, 
      #{state,jdbcType=INTEGER}, #{role,jdbcType=INTEGER}, #{nickname,jdbcType=VARCHAR}, 
      #{createtime,jdbcType=TIMESTAMP}, #{updatetime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.zh.module.entity.User">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="phone != null">
        phone,
      </if>
      <if test="userpassword != null">
        userpassword,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="uuid != null">
        uuid,
      </if>
      <if test="referenceid != null">
        referenceid,
      </if>
      <if test="referenceStatus != null">
        reference_status,
      </if>
      <if test="idcard != null">
        idcard,
      </if>
      <if test="idstatus != null">
        idstatus,
      </if>
      <if test="headpath != null">
        headpath,
      </if>
      <if test="secretkey != null">
        secretkey,
      </if>
      <if test="token != null">
        token,
      </if>
      <if test="tokencreatetime != null">
        tokencreatetime,
      </if>
      <if test="orderpwd != null">
        orderpwd,
      </if>
      <if test="logintime != null">
        logintime,
      </if>
      <if test="devicenum != null">
        devicenum,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="role != null">
        role,
      </if>
      <if test="nickname != null">
        nickname,
      </if>
      <if test="createtime != null">
        createtime,
      </if>
      <if test="updatetime != null">
        updatetime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="userpassword != null">
        #{userpassword,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="uuid != null">
        #{uuid,jdbcType=INTEGER},
      </if>
      <if test="referenceid != null">
        #{referenceid,jdbcType=INTEGER},
      </if>
      <if test="referenceStatus != null">
        #{referenceStatus,jdbcType=INTEGER},
      </if>
      <if test="idcard != null">
        #{idcard,jdbcType=VARCHAR},
      </if>
      <if test="idstatus != null">
        #{idstatus,jdbcType=INTEGER},
      </if>
      <if test="headpath != null">
        #{headpath,jdbcType=VARCHAR},
      </if>
      <if test="secretkey != null">
        #{secretkey,jdbcType=VARCHAR},
      </if>
      <if test="token != null">
        #{token,jdbcType=VARCHAR},
      </if>
      <if test="tokencreatetime != null">
        #{tokencreatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderpwd != null">
        #{orderpwd,jdbcType=VARCHAR},
      </if>
      <if test="logintime != null">
        #{logintime,jdbcType=TIMESTAMP},
      </if>
      <if test="devicenum != null">
        #{devicenum,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=INTEGER},
      </if>
      <if test="role != null">
        #{role,jdbcType=INTEGER},
      </if>
      <if test="nickname != null">
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.zh.module.entity.User">
    update user
    set phone = #{phone,jdbcType=VARCHAR},
      userpassword = #{userpassword,jdbcType=VARCHAR},
      username = #{username,jdbcType=VARCHAR},
      uuid = #{uuid,jdbcType=INTEGER},
      referenceid = #{referenceid,jdbcType=INTEGER},
      reference_status = #{referenceStatus,jdbcType=INTEGER},
      idcard = #{idcard,jdbcType=VARCHAR},
      idstatus = #{idstatus,jdbcType=INTEGER},
      headpath = #{headpath,jdbcType=VARCHAR},
      secretkey = #{secretkey,jdbcType=VARCHAR},
      token = #{token,jdbcType=VARCHAR},
      tokencreatetime = #{tokencreatetime,jdbcType=TIMESTAMP},
      orderpwd = #{orderpwd,jdbcType=VARCHAR},
      logintime = #{logintime,jdbcType=TIMESTAMP},
      devicenum = #{devicenum,jdbcType=VARCHAR},
      state = #{state,jdbcType=INTEGER},
      role = #{role,jdbcType=INTEGER},
      nickname = #{nickname,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      updatetime = #{updatetime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zh.module.entity.User">
    update user
    <set>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="userpassword != null">
        userpassword = #{userpassword,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="uuid != null">
        uuid = #{uuid,jdbcType=INTEGER},
      </if>
      <if test="referenceid != null">
        referenceid = #{referenceid,jdbcType=INTEGER},
      </if>
      <if test="referenceStatus != null">
        reference_status = #{referenceStatus,jdbcType=INTEGER},
      </if>
      <if test="idcard != null">
        idcard = #{idcard,jdbcType=VARCHAR},
      </if>
      <if test="idstatus != null">
        idstatus = #{idstatus,jdbcType=INTEGER},
      </if>
      <if test="headpath != null">
        headpath = #{headpath,jdbcType=VARCHAR},
      </if>
      <if test="secretkey != null">
        secretkey = #{secretkey,jdbcType=VARCHAR},
      </if>
      <if test="token != null">
        token = #{token,jdbcType=VARCHAR},
      </if>
      <if test="tokencreatetime != null">
        tokencreatetime = #{tokencreatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderpwd != null">
        orderpwd = #{orderpwd,jdbcType=VARCHAR},
      </if>
      <if test="logintime != null">
        logintime = #{logintime,jdbcType=TIMESTAMP},
      </if>
      <if test="devicenum != null">
        devicenum = #{devicenum,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="role != null">
        role = #{role,jdbcType=INTEGER},
      </if>
      <if test="nickname != null">
        nickname = #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        updatetime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" parameterType="java.util.Map" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user
    where 1=1 
    <if test="phone != null">
       and  phone = #{phone,jdbcType=VARCHAR}
    </if>
    <if test="userpassword != null">
       and  userpassword = #{userpassword,jdbcType=VARCHAR}
    </if>
    <if test="username != null">
       and  username = #{username,jdbcType=VARCHAR}
    </if>
    <if test="uuid != null">
       and  uuid = #{uuid,jdbcType=INTEGER}
    </if>
    <if test="referenceid != null">
       and  referenceid = #{referenceid,jdbcType=INTEGER}
    </if>
    <if test="referenceStatus != null">
       and  reference_status = #{referenceStatus,jdbcType=INTEGER}
    </if>
    <if test="idcard != null">
       and  idcard = #{idcard,jdbcType=VARCHAR}
    </if>
    <if test="idstatus != null">
       and  idstatus = #{idstatus,jdbcType=INTEGER}
    </if>
    <if test="headpath != null">
       and  headpath = #{headpath,jdbcType=VARCHAR}
    </if>
    <if test="secretkey != null">
       and  secretkey = #{secretkey,jdbcType=VARCHAR}
    </if>
    <if test="token != null">
       and  token = #{token,jdbcType=VARCHAR}
    </if>
    <if test="tokencreatetime != null">
       and  tokencreatetime = #{tokencreatetime,jdbcType=TIMESTAMP}
    </if>
    <if test="orderpwd != null">
       and  orderpwd = #{orderpwd,jdbcType=VARCHAR}
    </if>
    <if test="logintime != null">
       and  logintime = #{logintime,jdbcType=TIMESTAMP}
    </if>
    <if test="devicenum != null">
       and  devicenum = #{devicenum,jdbcType=VARCHAR}
    </if>
    <if test="state != null">
       and  state = #{state,jdbcType=INTEGER}
    </if>
    <if test="role != null">
       and  role = #{role,jdbcType=INTEGER}
    </if>
    <if test="nickname != null">
       and  nickname = #{nickname,jdbcType=VARCHAR}
    </if>
    <if test="createtime != null">
       and  createtime = #{createtime,jdbcType=TIMESTAMP}
    </if>
    <if test="updatetime != null">
       and  updatetime = #{updatetime,jdbcType=TIMESTAMP}
    </if>
     order by id desc 
  </select>
  <select id="selectPaging" parameterType="java.util.Map" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user
    where 1=1 
    <if test="phone != null">
       and  phone = #{phone,jdbcType=VARCHAR}
    </if>
    <if test="userpassword != null">
       and  userpassword = #{userpassword,jdbcType=VARCHAR}
    </if>
    <if test="username != null">
       and  username = #{username,jdbcType=VARCHAR}
    </if>
    <if test="uuid != null">
       and  uuid = #{uuid,jdbcType=INTEGER}
    </if>
    <if test="referenceid != null">
       and  referenceid = #{referenceid,jdbcType=INTEGER}
    </if>
    <if test="referenceStatus != null">
       and  reference_status = #{referenceStatus,jdbcType=INTEGER}
    </if>
    <if test="idcard != null">
       and  idcard = #{idcard,jdbcType=VARCHAR}
    </if>
    <if test="idstatus != null">
       and  idstatus = #{idstatus,jdbcType=INTEGER}
    </if>
    <if test="headpath != null">
       and  headpath = #{headpath,jdbcType=VARCHAR}
    </if>
    <if test="secretkey != null">
       and  secretkey = #{secretkey,jdbcType=VARCHAR}
    </if>
    <if test="token != null">
       and  token = #{token,jdbcType=VARCHAR}
    </if>
    <if test="tokencreatetime != null">
       and  tokencreatetime = #{tokencreatetime,jdbcType=TIMESTAMP}
    </if>
    <if test="orderpwd != null">
       and  orderpwd = #{orderpwd,jdbcType=VARCHAR}
    </if>
    <if test="logintime != null">
       and  logintime = #{logintime,jdbcType=TIMESTAMP}
    </if>
    <if test="devicenum != null">
       and  devicenum = #{devicenum,jdbcType=VARCHAR}
    </if>
    <if test="state != null">
       and  state = #{state,jdbcType=INTEGER}
    </if>
    <if test="role != null">
       and  role = #{role,jdbcType=INTEGER}
    </if>
    <if test="nickname != null">
       and  nickname = #{nickname,jdbcType=VARCHAR}
    </if>
    <if test="createtime != null">
       and  createtime = #{createtime,jdbcType=TIMESTAMP}
    </if>
    <if test="updatetime != null">
       and  updatetime = #{updatetime,jdbcType=TIMESTAMP}
    </if>
     order by id desc limit #{firstResult,jdbcType=INTEGER},#{maxResult,jdbcType=INTEGER}
  </select>
  <select id="selectCount" parameterType="java.util.Map" resultType="java.lang.Integer">
    select count(*) 
    from user 
    where 1=1 
    <if test="phone != null">
       and  phone = #{phone,jdbcType=VARCHAR}
    </if>
    <if test="userpassword != null">
       and  userpassword = #{userpassword,jdbcType=VARCHAR}
    </if>
    <if test="username != null">
       and  username = #{username,jdbcType=VARCHAR}
    </if>
    <if test="uuid != null">
       and  uuid = #{uuid,jdbcType=INTEGER}
    </if>
    <if test="referenceid != null">
       and  referenceid = #{referenceid,jdbcType=INTEGER}
    </if>
    <if test="referenceStatus != null">
       and  reference_status = #{referenceStatus,jdbcType=INTEGER}
    </if>
    <if test="idcard != null">
       and  idcard = #{idcard,jdbcType=VARCHAR}
    </if>
    <if test="idstatus != null">
       and  idstatus = #{idstatus,jdbcType=INTEGER}
    </if>
    <if test="headpath != null">
       and  headpath = #{headpath,jdbcType=VARCHAR}
    </if>
    <if test="secretkey != null">
       and  secretkey = #{secretkey,jdbcType=VARCHAR}
    </if>
    <if test="token != null">
       and  token = #{token,jdbcType=VARCHAR}
    </if>
    <if test="tokencreatetime != null">
       and  tokencreatetime = #{tokencreatetime,jdbcType=TIMESTAMP}
    </if>
    <if test="orderpwd != null">
       and  orderpwd = #{orderpwd,jdbcType=VARCHAR}
    </if>
    <if test="logintime != null">
       and  logintime = #{logintime,jdbcType=TIMESTAMP}
    </if>
    <if test="devicenum != null">
       and  devicenum = #{devicenum,jdbcType=VARCHAR}
    </if>
    <if test="state != null">
       and  state = #{state,jdbcType=INTEGER}
    </if>
    <if test="role != null">
       and  role = #{role,jdbcType=INTEGER}
    </if>
    <if test="nickname != null">
       and  nickname = #{nickname,jdbcType=VARCHAR}
    </if>
    <if test="createtime != null">
       and  createtime = #{createtime,jdbcType=TIMESTAMP}
    </if>
    <if test="updatetime != null">
       and  updatetime = #{updatetime,jdbcType=TIMESTAMP}
    </if>
  </select>
</mapper>